/* fonts */

@font-face {
    font-family: 'avenir-black';
    src: url('../fonts/Avenir-Black.woff2') format('woff2'),
    url('../fonts/Avenir-Black.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'avenir-roman';
    src: url('../fonts/Avenir-Roman.woff2') format('woff2'),
    url('../fonts/Avenir-Roman.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/* Resets */

:root{
    --body-bg-color:#EEEFEF;
    --light-blue: #97CEDC;
    --light-black: #101116;
    --dark-navy: #373E47;
    --off-white: #EEEFEF;
    --dark-grey: #455262;
    --theme-red: #D9412E;
    --termina-font:"termina","sans-serif";
    --light-grey-border:#C4C8CC;
}
html, body {
    overflow-x: hidden;
}
html {
    scroll-behavior: smooth;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}  
ul li {
    text-decoration: none;
    list-style: none;
}
button:focus {
    outline: none;
    outline-color: transparent;
    box-shadow: none;
}
body{
    background-color: var(--body-bg-color);
}
h1, h2, h3{
    font-family: var(--termina-font);
    margin: 0;
}
h4, h5, h6 {
    margin: 0;
}
p{
    margin: 0;
}
a, a:hover, a:focus {
    text-decoration: none;
    outline: none;
    cursor: pointer;
    box-shadow: none;
    transition: all ease-in-out .3s;
  -moz-transition: all ease-in-out .3s;
  -webkit-transition: all ease-in-out .3s;
  -o-transition: all ease-in-out .3s;
}
input:not(input[type="submit"]){
    background-color: transparent;
    border: 1px solid var(--off-white);
    border-radius: 15px;
    padding: 22px 16px;
    font-size: 14px;
    font-family: var(--termina-font);
    font-weight: 500;
    color: var(--off-white);
    margin-bottom:44px;
    text-transform: uppercase;
    width: 100%;
    outline: unset;
    line-height: 1;
} 
input::placeholder{
    color: var(--off-white);
}
input:focus{
    background-color: transparent !important;
    border-color: var(--off-white) !important;
}
/*==============================
        Cursor Behaviour
================================*/
.cursor-wrapper{
    position: relative;
    top: 100px;
    width: 700px;
    height: 100vh;
    margin: 0 auto;
  }
  
  .cursor{
    top: 0px;
    left: 0px;
    position: fixed;
  }
  
  .dot{
    top: -20px;
    left: -20px;
    position: fixed;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: var(--theme-red);
    z-index: 9999;
    mix-blend-mode: multiply;
    pointer-events: none;
    will-change: transform;
    transform: scale(1);
    transition: 0.2s all;
  }
  
  .drag, .scroll, .hover{
    width: 200px;
    height: 200px;
    color: var(--off-white);
    font-size: 30px;
    padding: 1rem;
    box-sizing: border-box;
  }
.drag-pointer{
    transition: 0.2s all;
    transform: scale(3);
    border-radius: 0%;
    background-color: #333898;
  }
/* custom classes */

.btn-filled {
    display: inline-block;
    background-color: var(--light-blue);
    padding: 20px 30px 16px 30px;
    border-radius: 15px;
    text-transform: uppercase;
    font-family: var(--termina-font);
    font-size: 14px;
    color: var(--light-black);
    font-weight: 600;
}

.btn-filled:hover {
    background-color: var(--dark-navy);
    color: var(--off-white);
}

.btn-outline {
    display: inline-block;
    background-color: transparent;
    border: 2px solid var(--off-white);
    padding: 18px 26px 14px 30px;
    border-radius: 15px;
    text-transform: uppercase;
    font-family: var(--termina-font);
    font-size: 14px;
    color: var(--off-white);
    font-weight: 600;
}

.btn-outline img {
    margin: -1px 0 2px -22px;
    opacity: 0;
    visibility: hidden;
    transition: all ease-in-out .4s;
  -moz-transition: all ease-in-out .4s;
  -webkit-transition: all ease-in-out .4s;
  -o-transition: all ease-in-out .4s;
}

.btn-outline:hover img {
    margin: -1px 0 2px 10px;
    opacity: 1;
    visibility: visible;
    border-color: transparent;
}

.btn-outline:hover {
    border-color: transparent;
    color: var(--off-white);
}

.heading-bold {
    font-size: 64px;
    font-weight: 700;
    color: var(--theme-red);
    line-height: 77px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
}


/* HOMEPAGE */

.main-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    position: relative;
}

.menu-side {
    display: flex;
}

.book-btn-wrap{
    margin-right: 54px;
}

.side-menu-wrap {
    display: flex;
    align-items: center;
}

.side-menu-wrap > a {
    font-family: var(--termina-font);
    font-size: 14px;
    color: var(--light-black);
    text-transform: uppercase;
    font-weight: 600;
}

.side-menu-wrap > a img {
    margin-left: 14px;
}

.banner-wrap {
    margin: 180px 0;
    position: relative;
}

.banner-inner h1 {
    font-size: 32px;
    color: var(--dark-grey);
    font-weight: 600;
    line-height: 38px;
    margin-bottom: 15px;
}

.banner-inner h2 {
    font-size: 70px;
    color: var(--dark-grey);
    font-weight: 400;
    line-height: 84px;
    max-width: 710px;
}

.banner-inner-btn {
    display: none;
}

.banner-inner img.bg-circle-lg,.services-banner img.bg-circle-lg{
    position: absolute;
    top: -150px;
    right: -110px;
    mix-blend-mode: color-burn;
    width: 695px;
    height: 683px;
    z-index: -2;
}

.banner-inner img.bg-circle-sm,.services-banner img.bg-circle-sm{
    position: absolute;
    top: -100px;
    right: -60px;
    width: 191px;
    height: 187px;
    opacity: 0.5;
    filter: blur(4.5px);
    transform: rotate(149.68deg);
    z-index: -1;
}

/* our services section */

.our-services-wrap {
    margin: 0 0 120px;
}

.our-services-inner > p {
    font-size: 32px;
    color: var(--dark-grey);
    margin-top: 32px;
    max-width: 1010px;
}

.services-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
    margin-top: 50px;
}

.service-single {
    background-color: var(--dark-navy);
    border-radius: 30px;
    padding: 50px 40px 50px;
}

.service-single h4 {
    font-size: 24px;
    color: var(--off-white);
    font-family: 'avenir-black';
    text-transform: uppercase;
    line-height: 32px;
    margin-bottom: 12px;
}

.service-single p {
    font-size: 28px;
    color: var(--off-white);
    font-family: 'avenir-roman';
    line-height: 44px;
}

.services-list-btn {
    display: none;
    margin-top: 24px;
}

/* our process section */

.our-process-inner-wrap {
    background-color: var(--dark-grey);
    background-image: url(../images/bg-noise.png);
    background-repeat: repeat;
    border-radius: 61px;
    padding: 122px 147px 136px 174px;
}

.our-process-hd {
    margin: 0 auto 130px;
    max-width: 860px;
    width: 100%;
}

.our-process-hd h3 {
    font-size: 64px;
    font-weight: 700;
    color: var(--off-white);
    text-transform: uppercase;
    line-height: 77px;
    letter-spacing: 0.07em;
    margin-bottom: 47px;
}

.our-process-hd p {
    font-size: 24px;
    color: var(--off-white);
    font-family: 'avenir-roman';
    line-height: 36px;
    /* padding-right: 120px; */
    margin-bottom: 44px;
}

.our-process-btns .btn-filled {
    margin-right: 22px;
}

.our-process-list-wrap > h3 {
    font-size: 32px;
    font-weight: 600;
    line-height: 38px;
    color: var(--off-white);
    max-width: 860px;
    width: 100%;
    margin: 0 auto;
}

.our-process-list-single {
    display: grid;
    grid-template-columns: 70px 158px 259px 1fr;
    grid-column-gap: 32px;
    align-items: center;
    justify-items: self-start;
    padding: 44px 0;
}

.our-process-list-single span {
    font-family:  var(--termina-font);
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: var(--off-white);
    color: transparent;
    /* margin-right: 30px; */
}

.our-process-list-single h4 {
    font-family: 'avenir-black';
    font-size: 24px;
    font-weight: 800;
    line-height: 130.5%;
    color: var(--off-white);
    text-transform: uppercase;
    /* letter-spacing: 2px; */
}

.our-process-list-single p {
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: var(--off-white);
}

.our-process-list-single:not(:first-of-type) {
    border-top: 1px solid var(--off-white);
}

.our-process-note {
    margin-top: 20px;
}

.our-process-note p {
    font-family:  var(--termina-font);
    font-weight: 600;
    font-size: 32px;
    text-align: center;
    line-height: 44px;
    color: var(--off-white);
}

.our-process-note p span {
    position: relative;
}

.our-process-note p span::after {
    content: '';
    width: 100%;
    height: 2px;
    color: var(--off-white);
    background: var(--off-white);
    position: absolute;
    left: 0;
    top: 100%;
}

/* your idea */

.your-idea-wrap {
    position: relative;
}

.case-studies-inner {
    background-color: var(--dark-grey);
    background-image: url(../images/bg-noise.png);
    background-repeat: repeat;
    border-radius: 61px;
    padding: 148px 21px 148px 142px;
    display: grid;
    grid-template-columns: 502px 1fr;
    align-items: center;
}

.your-idea-wrap::before {
    content: '';
    background-image: url(../images/ss-process-icon-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 680px;
    height: 683px;
    mix-blend-mode: color-burn;
    filter: blur(18.5px);
    transform: rotate(107.39deg);
    position: absolute;
    left: -234px;
    top: 21px;
    z-index: -1;
}

.your-idea-wrap::after {
    content: '';
    background-image: url(../images/ss-process-icon-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 364px;
    height: 358px;
    mix-blend-mode: color-burn;
    filter: blur(7.5px);
    transform: rotate(-17.58deg);
    position: absolute;
    right: -167px;
    top: 270px;
    z-index: -1;
}

.your-idea-inner {
    padding: 285px 0;
    text-align: center;
}
.idea-sec-inner{
    padding: 185px 0;
}
.your-idea-inner p {
    font-family:  var(--termina-font);
    color: var(--dark-grey);
    font-weight: 400;
    font-size: 70px;
    line-height: 84px;
}

/* Case Studies */

.case-studies-text h3 {
    font-size: 64px;
    font-weight: 700;
    color: var(--off-white);
    text-transform: uppercase;
    line-height: 77px;
    letter-spacing: 0.07em;
    margin-bottom: 55px;
}

.case-studies-text h4 {
    font-family: var(--termina-font);
    font-size: 32px;
    font-weight: 600;
    line-height: 38px;
    color: var(--off-white);
    margin-bottom: 21px;
}

.case-studies-text p {
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: var(--off-white);
    padding-right: 30px;
}

.case-studies-btns {
    margin-top: 46px;
}

.case-studies-btns .btn-filled {
    margin-right: 22px;
}

.case-studies-img-wrap {
    position: relative;
}

.case-studies-img-wrap::before {
    content: '';
    background-image: url(../images/case-studies-before.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 550px;
    height: 545px;
    position: absolute;
    top: -280px;
    right: -62px;
}

.case-studies-img-wrap::after {
    content: '';
    background-image: url(../images/case-studies-after.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 244px;
    height: 246px;
    position: absolute;
    bottom: -110px;
    left: 92px;
}

.case-studies-img {
    max-width: 425px;
    width: 100%;
    margin: 0 auto;
    height: 428px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.case-studies-img img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.case-studies-img img:nth-child(2) {
    opacity: 0.41;
    filter: drop-shadow(7px 9px 8px rgba(0, 0, 0, 0.25));
}
/*=====================================
            Case Studies
=======================================*/
.inner-pages h1{
    font-size: 70px;
    color:var(--theme-red);
    line-height: 85px;
    font-weight: 500;
}
.inner-pages p{
    font-size: 32px;
    color:var(--dark-grey);
    width: 100%;
    line-height: 43px;
    margin-top: 30px;
    max-width: 647px;
}
.posts-inner-main{
    background-color: var(--dark-grey);
    background-image: url(../images/bg-noise.png);
    background-repeat: repeat;
    border-radius: 61px;
    padding: 141px 147px 117px 174px;
}
/*========================================
        Cases Studies Single
==========================================*/
.cases-single-main h1{
    font-size: 32px;
    color: var(--dark-grey);
    font-weight: 600;
    line-height: initial;
    margin-bottom: 15px;
}
.cases-single-main p{
    font-size: 24px;
    margin-top: 47px;
    line-height: 36px;
}
.cases-single-main img{
    width: 50%;
}
.feature-img img{
    width: 100%;
}
.prob-solution{
    padding: 111px 0;
}
.prob-solution h3{
    font-size: 64px;
    font-weight: 700;
    color: var(--theme-red);
    text-transform: uppercase;
    margin-bottom: 33px;
}
.problem-main{
    width: 100%;
    max-width: 767px;
    margin-bottom:116px;
}
.problem-main p{
    font-size: 32px;
    font-family:"avenir-roman",sans-serif;
    color: var(--dark-grey);
    line-height: 48px;
}
.solutions-main{
    background-color: var(--dark-grey);
    background-image: url(../images/bg-noise.png);
    padding:116px 127px 129px;
    border-radius:61px;
    margin-bottom: 116px;
}
.solutions-main h3{
    color: var(--off-white);
}
.solutions-main p{
    margin: 33px 120px 56px 0;
    font-size: 24px;
    color: var(--off-white);
}
.solutions-img {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.solutions-img img{
    margin-right:60px;
}
.results h3{
    margin-bottom: 32px;
}
.results p{
    width: 100%;
    max-width: 542px;
    margin-bottom: 26px;
    font-size: 24px;
    color: var(--dark-grey);
}
.results ul{
    margin-left: 50px;
}
.results ul li{
    font-size: 24px;
    color: var(--dark-grey);
    margin-bottom: 15px;
    display: block;
    align-items: center;
    background-image: url(../images/list-arrow.svg);
    background-repeat: no-repeat;
    background-position: left 8px;
    line-height: 32px;
    padding-left: 50px;
    width: 100%;
    max-width: 785px;
}
.thumb-img-main img{
    width: 100%;
}
.other-cases-sec{
    padding: 112px 70px 0;
}
.other-case-studies-main h3{
    font-size: 70px;
    color: var(--dark-grey);
    text-align: center;
}
.cases-studies-imgs{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 38px;
}
.cases-studies-imgs a{
    position: relative;
    height: 335px;
    width: 335px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 60px;
}
.ft-img-cases{
    height: 100%;
    width: 100%;
}
.logo-img-cases{
    position: absolute;
}
/* .cases-studies-imgs a img:first-child{
    height: 100%;
    width: 100%;
    border-radius: 50%;
} */
.ft-img-cases::after{
    content: "";
    background-image: url('../images/cases-img-overlay.png');
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
/* .cases-studies-imgs a img:last-child{
    position: absolute;
} */
/* Clients Feedback */

.clients-feedback-inner {
    padding: 130px 0;
}

.clients-feedback-inner > h3 {
    font-size: 64px;
    font-weight: 700;
    color: var(--theme-red);
    text-transform: uppercase;
    line-height: 77px;
    letter-spacing: 0.07em;
    margin-bottom: 55px;
}

.clients-feedback-single {
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    grid-column-gap: 20px;
}

.clients-feedback .clients-feedback-single:not(:last-child) {
    margin-bottom: 110px;
}

.client-text {
    position: relative;
}

.client-text::before {
    content: '';
    background-image: url(../images/quotation-mark.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 75px;
    height: 56px;
    position: absolute;
    top: 4px;
    left: -90px;
}

.client-text p {
    font-family: 'avenir-roman';
    font-size: 24px;
    color: var(--dark-grey);
    line-height: 36px;
}

/* Featured Blogs */

.featured-blogs-inner {
    background-color: var(--dark-grey);
    background-image: url(../images/bg-noise.png);
    background-repeat: repeat;
    border-radius: 61px;
    padding: 200px 0 120px;
    /* padding: 144px 135px 136px 158px; */
}
.post-deatil-main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom:127px;
}
.posts-inner-main .post-deatil-main:last-child{
    margin-bottom: 0;
}    
.post-content{
    width: 50%;
}
.post-content p{
    color: var(--off-white);
    font-size: 24px;
    margin: 40px 0 44px;
}
.post-content a{
    width: 100%;
    max-width: 312px;
    text-align: center;
    padding: 16px 15px;
    line-height: 1;
    padding: 20px 15px;
}
.post-img{
    max-width: 302px;
    height: 302px;
    object-fit: cover;
    position: relative;
}
.post-img::after{
    content: "";
    background-color: var(--light-black);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    opacity: 0.3;
    border-radius: 50%;
}
.post-img img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.stay-connected-main{
    background-color: var(--dark-grey);
    background-image: url(../images/bg-noise.png);
    background-repeat: repeat;
    border-radius: 61px;
    padding: 105px 147px 136px 174px;
    margin-bottom:128px;
    margin-top: 67px;
}
.stay-connected-main .head-sec{
    text-align: center;
    margin-top: 13px;
}
.stay-connected-main .head-sec h2{
    font-size: 64px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--off-white);
}
.stay-connected-main .head-sec h3{
    font-size: 32px;
    color: var(--off-white);
}
.stay-connected-main .form-main{
    width: 100%;
    max-width: 580px;
    margin: 41px auto 0;
}
.stay-connected-main .form-main p{
    color:var(--off-white);
    font-size: 24px;
    margin-bottom: 27px;
}
.stay-connected-main .form-main input[type="submit"]{
    outline: unset !important;
    display: block;
    margin: 0 auto;
    border-color: transparent;
    width: 100%;
    max-width:213px;
    margin-top: 10px;
    padding: 18px 15px;
    line-height: 1;
    /* padding: 200px 200px 120px 200px; */
}

.featured-blogs-inner h3 {
    font-size: 64px;
    font-weight: 700;
    color: var(--off-white);
    padding: 0 200px;
    text-transform: uppercase;
    line-height: 77px;
    letter-spacing: 0.07em;
    margin-bottom: 60px;
}

.featured-blogs-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 6px;
    padding: 0 145px;
}

.featured-blog-single {
    padding: 37px 57px;
    border-radius: 24px;
}

.featured-blog-single:hover {
    background-color: var(--dark-navy);
    background-image: url(../images/bg-noise.png);
    background-repeat: repeat;
}

.featured-blog-single > span {
    font-family:  var(--termina-font);
    font-weight: 700;
    font-size: 32px;
    color: var(--light-blue);
    line-height: 38px;
    margin-bottom: 22px;
    display: block;
}

.featured-blog-single h5 {
    font-family: 'avenir-black';
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
    color: var(--off-white);
    margin-bottom: 17px;
}

.date-time-wrap span {
    font-family: 'avenir-roman';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--off-white);
}

.date-time-wrap span:not(:last-child) {
    margin-right: 44px;
}
/*=========================================
                Services Page
===========================================*/
.services-sec{
    margin: 126px 0 ;
    position: relative;
}
.services-banner{
    margin: 132px 0 124px;
}
.services-banner h1{
    font-size: 96px;
    color: var(--theme-red);
    font-weight: 100;
    line-height: 115px;
}
.services-banner p{
    font-size: 32px;
    margin: 32px 0 40px;
    color: var(--dark-grey);
}
.banner-link a{
    line-height: 1;
    width: 100%;
    max-width: 191px;
    text-align: center;
    margin-right: 40px;
}
.banner-link a.btn-filled{
    padding: 20px 20px 19px;
}
.banner-link a.btn-outline{
    color: var(--dark-grey);
    border-color: var(--dark-grey);
    padding: 18px 20px 17px;
}
.banner-link a.btn-outline:hover{
    background-color: var(--dark-grey);
    color: var(--off-white);
}
.about-swift-stack{
    background-color: var(--dark-grey);
    background-image: url('../images/bg-noise.png');
    padding:116px 170px 92px;
    border-radius: 61px;
}
.about-swift-stack h2{
    font-size: 64px;
    color: var(--off-white);
    font-weight: 700;
    text-transform: uppercase;
}
.about-swift-stack p{
    font-size: 24px;
    color: var(--off-white);
    margin: 37px 0 34px;
}
.stack-main {
    margin-top: 115px;
}
.stack-main h2{
    font-size: 64px;
    color: var(--theme-red);
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
}
.stack-list-main{
    margin: 4px 0 88px;
}
.stack-list{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding:30px 0 20px;
    border-bottom: 1px solid var(--light-grey-border);
}
.stack-list:last-child{
    border-bottom: 0px solid transparent;
}
.stack-list h3{
    font-size:24px;
    color: var(--dark-grey);
    font-weight: 700;
}
.second-heading{
    width: 100%;
    max-width: 280px;
    margin: 0 30px;
    font-family: "avenir-black","sans-serif";
}
.stack-list img{
    margin: 0px 35px 0;
}
.stack-list ul{
    margin-top: 20px;
}
.stack-list ul li{
    font-size: 20px;
    font-family: "avenir-roman","sans-serif";
    color: var(--dark-grey);
    background-image: url('../images/arrow-right-long.svg');
    background-repeat: no-repeat;
    padding-left: 35px;
    background-position-y: 9px;
}
.why-swift-main{
    background-color: var(--dark-grey);
    background-image: url('../images/bg-noise.png');
    border-radius: 61px;
    padding: 117px 170px 127px;
    margin-bottom: 80px;
}
.why-swift-main h2{
    font-size: 64px;
    color: var(--off-white);
    font-weight: 700;
}
.swiftracks-content .content-inner{
    margin: 42px 0;
}
.swiftracks-content .content-inner h4{
    font-size: 24px;
    font-family: "avenir-black","sans-serif";
    color: var(--off-white);
    text-transform: uppercase;
    margin-bottom: 10px;
}
.swiftracks-content .content-inner p{
    color: var(--off-white);
    font-size: 24px;
    font-family: "avenir-roman","sans-serif";
    line-height: 34px;
}
.swiftracks-content a{
    width: 100%;
    line-height: 1;
    padding: 20px;
    max-width: 224px;
    text-align: center;
    margin-top: 24px;
}
/*========================================
            Blog Page
==========================================*/
.blog-banner-sec{
    margin: 157px 0 270px;
}
.blog-head h1{
    font-size: 96px;
    line-height: 100px;
}
.blog-head p{
    margin-top: 52px;
}
.crm-plugins-main{
    background-color: var(--dark-grey);
    background-image: url('../images/bg-noise.png');
    padding: 120px 100px 128px;
    border-radius: 61px;
}
.crm-head-sec{
    width: 100%;
    max-width: 609px;
    margin-bottom: 45px;
}
.crm-head-sec h2{
    font-size: 48px;
    color: var(--off-white);
    font-weight: 400;
    margin-bottom: 25px;
}
.crm-head-sec span{
    font-family: "avenir-roman","sans-serif";
    font-size: 16px;
    color: var(--off-white);
    margin-right: 50px;
}
.crm-content{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.srm-left-content{
    width: 65%;
}
.srm-left-content a{
    line-height: 1;
    width: 100%;
    max-width: 191px;
    text-align: center;
    padding: 22px 30px 17px 30px;
}
.crm-content p{
    font-size: 24px;
    color: var(--off-white);
    margin-bottom: 40px;
    line-height: 33px;
}
.srm-right-content{
    width: 335px;
    height: 335px;
    overflow: hidden;
    margin-top: -80px;
}
.srm-right-content img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
.posts-main-sec{
    padding: 126px 0px 90px;
}
.blog-posts-main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 130px;
}
.post-img{
    width: 302px;
    height: 302px;
    overflow: hidden;
}
.post-img img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
.post-head-part {
    margin-top: 60px;
}
.post-head-part h3{
    font-size: 32px;
    color: var(--dark-grey);
    margin-bottom: 12px;
    font-weight: 600;
    transition: .3s;
}
.post-head-part a:hover h3{
    color: var(--theme-red);
}
.post-head-part span{
    font-size: 16px;
    font-family: "avenir-roman","sans-serif";
    color: var(--dark-grey);
    margin-right: 50px;
}
.post-head-part a.btn-filled{
    line-height: 1;
    width: 100%;
    max-width: 191px;
    text-align: center;
    padding: 21px 15px 18px;
    margin-top: 30px;
    display: block;
}
.load-more-btn{
    color: var(--dark-grey);
    border-color: var(--dark-grey);
    display: block;
    width: 100%;
    max-width: 349px;
    text-align: center;
    padding: 18px 18px 17px;
    line-height: 1;
    margin: 130px auto 0;
}
.btn-outline.load-more-btn:hover{
    background-color: var(--dark-grey);
    color: var(--off-white);
}
/* Footer */

footer {
    margin-top: 128px;
    border-top: 1px solid var(--dark-grey);
}

.footer-inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 58px 0;
}

.footer-logo a {
    display: inline-block;
    margin-bottom: 24px;
}

.footer-logo img {
    max-width: 100%;
    width: 100%;
}

.footer-logo p {
    font-family:  var(--termina-font);
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: var(--dark-grey);
}

.footer-logo p span {
    font-weight: 400;
}

.book-call-btn .btn-outline {
    font-family: var(--termina-font);
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: var(--dark-grey);
    text-transform: uppercase;
    position: relative;
    border-color: var(--dark-grey);
    margin-bottom: 35px;
}

.book-call-btn {
    display: none;
    margin-top: 15px;
}

.pages-links {
    margin-bottom: 37px;
}

.quick-links {
    margin-bottom: 50px;
}

.pages-links ul, .quick-links ul, .social-links ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.pages-links ul li:not(:last-child) {
    margin-right: 65px;
}

.quick-links ul li:not(:last-child) {
    margin-right: 69px;
}

.social-links ul li:not(:last-child) {
    margin-right: 47px;
}

.pages-links ul a {
    font-family:  var(--termina-font);
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: var(--dark-grey);
    text-transform: uppercase;
    position: relative;
}

.pages-links ul a:after {
    position: absolute;
    content: "";
    bottom: -7px;
    left: 0;
    width: 100%;
    height: 2px;
    background: var(--dark-navy);
    transform: scaleX(0);
    transition: transform 0.5s;
    transform-origin: left;
}

.pages-links ul a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.pages-links ul a.btn-outline {
    border-color: var(--dark-grey);
}

.pages-links ul a.btn-outline img {
    transition: all ease-in-out .3s;
    -moz-transition: all ease-in-out .3s;
    -webkit-transition: all ease-in-out .3s;
    -o-transition: all ease-in-out .3s;
}

.pages-links ul a.btn-outline:hover {
    color: var(--dark-grey);
    border-color: transparent;
    transform: none;
    /* padding: 18px 0 14px 30px; */
}

.pages-links ul a.btn-outline:hover::after {
    content: none;
}

.quick-links ul a {
    font-family:  var(--termina-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: var(--dark-grey);
    text-transform: uppercase;
}
.quick-links ul a:hover{
    color: var(--theme-red);
}
/* Main Menu */

header {
    position: relative;
}

.main-menu-wrap {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    background-color: var(--dark-grey);
    backdrop-filter: blur(16px);
    background-image: url(../images/menu-bg-noise.png);
    background-repeat: repeat;
    z-index: 99;
    display: none;
}

.main-menu-outer {
    position: relative;
    height: 100%;
}

.main-menu-outer::before {
    content: '';
    background-image: url(../images/menu-before.png);
    background-repeat: no-repeat;
    background-size: cover;
    mix-blend-mode: overlay;
    filter: blur(29px);
    width: 570px;
    height: 661px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
}

.main-menu-outer::after {
    content: '';
    background-image: url(../images/menu-after.png);
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(8.5px);
    mix-blend-mode: overlay;
    width: 535px;
    height: 528px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.main-menu-inner {
    padding: 0 120px;
}

.menu-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 0;
    border-bottom: 1px solid var(--off-white);
}

.menu-links {
    padding: 40px 0 46px;
}

.menu-links a {
    font-family:  var(--termina-font);
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    color: var(--off-white);
    text-transform: uppercase;
    opacity: 0.7;
    display: block;
    transition: all ease-in-out .1s;
    -moz-transition: all ease-in-out .1s;
    -webkit-transition: all ease-in-out .1s;
    -o-transition: all ease-in-out .1s;
}

.menu-links a:hover {
    color: var(--off-white);
    opacity: 1;
}

.menu-links a.active {
    color: var(--off-white);
    opacity: 1;
}

.menu-links ul li:not(:last-child) a {
    margin-bottom: 50px;
}

.menu-links a img {
    margin: -9px 0 2px -75px;
    opacity: 0;
    visibility: hidden;
    transition: all ease-in-out .1s;
    -moz-transition: all ease-in-out .1s;
    -webkit-transition: all ease-in-out .1s;
    -o-transition: all ease-in-out .1s;
}

.menu-links a:hover img, .menu-links a.active img {
    margin: -9px 0 2px 38px;
    opacity: 1;
    visibility: visible;
}

.menu-social {
    max-width: fit-content;
    position: absolute;
    bottom: 57px;
    right: 122px;
}

.menu-social ul {
    display: flex;
    align-items: center;
    max-width: max-content;
}

.menu-social a {
    font-family: var(--termina-font);
    font-size: 14px;
    font-weight: 400px;
    line-height: 17px;
    color: var(--off-white);
}

.menu-social li:not(:last-child) {
    margin-right: 31px;
}

/* ABOUT PAGE */

.banner-wrap.about-pg {
    margin: 180px 0 280px;
}

.about-us-wrap {
    position: relative;
}

.about-us-wrap::before {
    content: '';
    background: url(../images/about-before.png) no-repeat;
    background-size: cover;
    mix-blend-mode: color-burn;
    filter: blur(18.5px);
    width: 274px;
    height: 564px;
    position: absolute;
    top: 410px;
    left: 0;
    z-index: -1;
}

.about-us-wrap::after {
    content: '';
    background: url(../images/about-after.png) no-repeat;
    background-size: cover;
    mix-blend-mode: color-burn;
    filter: blur(18.5px);
    width: 613px;
    height: 1023px;
    position: absolute;
    top: 340px;
    right: 0;
    z-index: -1;
}

.banner-inner.about-pg h2 {
    font-size: 48px;
    line-height: 57.6px;
    max-width: 933px;
    color: var(--theme-red);
}

.about-us-inner {
    max-width: 748px;
    width: 100%;
    margin: 0 auto;
    padding: 45px 0 82px;
    text-align: center;
}

.about-us-inner h2 {
    text-align: center;
    margin-bottom: 32px;
}

.about-us-inner p {
    font-family: 'avenir-roman';
    font-size: 24px;
    color: var(--dark-grey);
    line-height: 36px;
}

.about-us-inner p:not(:last-child) {
    margin-bottom: 46px;
}

/* our team */

.our-team-inner {
    background-color: var(--dark-grey);
    background-image: url(../images/bg-noise.png);
    background-repeat: repeat;
    border-radius: 61px;
    padding: 115px 75px;
}

.our-team-inner h2 {
    color: var(--off-white);
    text-align: center;
}

.our-team {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 100px;
    row-gap: 60px;
    margin-top: 115px;
}

.team-member-single {
    text-align: center;
    max-width: 250px;
    width: 100%;
}

.team-member-single img {
    margin-bottom: 40px;
    filter: drop-shadow(7px 9px 8px rgba(0, 0, 0, 0.25));
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: center;
}

.team-member-single h4 {
    font-family: 'avenir-black';
    font-size: 24px;
    line-height: 32px;
    text-transform: uppercase;
    color: var(--off-white);
    margin-bottom: 15px;
}

.team-member-single p {
    font-family: 'avenir-black';
    font-size: 24px;
    line-height: 32px;
    color: var(--light-blue);
}

/* CONTACT PAGE */

.banner-wrap.contact-pg {
    margin: 96px 0 123px;
}

.banner-inner.contact {
    background-color: var(--dark-grey);
    background-image: url(../images/bg-noise.png);
    background-repeat: repeat;
    border-radius: 61px;
    padding: 110px 100px 130px;
}

.banner-inner.contact h1 {
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
    color: var(--off-white);
    line-height: 77px;
    letter-spacing: 0.07em;
    margin: 0;
}

.contact-address-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 36px;
    padding: 0 40px 0 40px;
    grid-column-gap: 94px;
}

.contact-email {
    display: grid;
    grid-template-columns: 22px 1fr;
    grid-column-gap: 18px;
    margin-bottom: 100px;
}

.email-text {
    display: flex;
    flex-direction: column;
}

.contact-social {
    display: grid;
    grid-template-columns: 22px 1fr;
    grid-column-gap: 18px;
}

.social-text {
    display: flex;
    flex-direction: column;
}

.social-text ul {
    display: flex;
    align-items: center;
}

.contact-location-wrap {
    display: grid;
    grid-template-columns: 22px 1fr;
    grid-column-gap: 18px;
}

.email-text span, .social-text span, .location-text span {
    font-family: 'avenir-black';
    font-size: 24px;
    line-height: 33px;
    color: var(--light-blue);
    text-transform: uppercase;
}

.email-text a {
    font-family: 'avenir-roman';
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    color: var(--off-white);
    position: relative;
    max-width: max-content;
}

.email-text a::after {
    content: '';
    width: 100%;
    height: 2px;
    background: var(--off-white);
    position: absolute;
    bottom: 7px;
    left: 0;
}

.email-text span {
    margin-bottom: 9px;
}

.social-text li:not(:last-child) {
    margin-right: 59px;
}

.social-text span {
    margin-bottom: 19px;
}

.location-text span {
    margin-bottom: 8px;
    display: inline-block;
}

.location-text p {
    font-family: 'avenir-roman';
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    color: var(--off-white);
}

.directions-btn {
    margin-top: 32px;
}

.contact-social-wrap {
    position: relative;
}

.contact-social-wrap::after {
    content: '';
    width: 1px;
    height: 382px;
    background: var(--off-white);
    position: absolute;
    top: -52px;
    right: 3px;
    opacity: 0.25;
}

.contact-form-inner > p {
    font-family: 'avenir-roman';
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
    color: var(--dark-grey);
    margin-bottom: 50px;
}

.contact-form-inner > h2 {
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
    color: var(--theme-red);
    line-height: 77px;
    letter-spacing: 0.07em;
    margin: 0;
}

.contact-form {
    margin-top: 46px;
}

.input-fields-wrap {
    display: flex;
    column-gap: 96px;
}

.input-field {
    width: 100%;
}

.input-field select {
    width: 100%;
    height: 68px;
    border-radius: 15px;
    -webkit-appearance: none;
}

.input-field textarea {
    width: 100%;
    width: 100%;
    border-radius: 15px;
    resize: none;
}

.input-field input, .input-field select, .input-field textarea {
    font-family: var(--termina-font);
    font-weight: 600 !important;
    font-size: 14px;
    padding: 22px 38px !important;
    line-height: 17px;
    letter-spacing: 0.07em;
    color: var(--dark-grey);
    background-color: var(--off-white);
    text-transform: uppercase;
    border-color: var(--dark-grey) !important;
    margin: 0 !important;
}

.contact-form label {
    font-family: 'avenir-black';
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
    color: var(--dark-grey);
    margin-bottom: 9px;
    text-transform: uppercase;
}

.contact-form .form-control:focus, .contact-form select:focus {
    color: var(--dark-grey);
    background-color: var(--off-white);
    border-color: var(--dark-grey);
    outline: 0;
    box-shadow: none;
}

.cus-dd-icon {
    position: relative;
}

.cus-dd-icon::before {
    content: '';
    position: absolute;
    top: 0;
    right: 70px;
    width: 1px;
    height: 68px;
    background: var(--dark-grey);
}

.cus-dd-icon::after {
    content: '';
    background-image: url(../images/chevron.svg);
    background-repeat: no-repeat;
    position: absolute;
    top: 41%;
    width: 30px;
    height: 15px;
    right: 20px;
}

.mb-62 {
    margin-bottom: 62px;
}

.mb-68 {
    margin-bottom: 68px;
}

.nda-checkbox-wrap {
    display: flex;
    align-items: center;
}

.nda-checkbox-wrap p {
    font-family: 'avenir-black';
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
    color: var(--dark-grey);
    text-transform: uppercase;
    margin-right: 44px;
}

.nda-checkbox {
    display: flex;
    align-items: center;
}

.nda-checkbox .form-checkbox {
    display: flex;
    align-items: center;
    margin-right: 26px;
}

.nda-checkbox-wrap .form-check-input {
    width: 61px;
    height: 53px;
    border-radius: 15px;
    border-color: var(--dark-grey);
    margin: 0;
    padding: 10px;
}

.nda-checkbox-wrap .form-check-input:focus {
    border-color: var(--dark-grey) !important;
    box-shadow: none;
}

.nda-checkbox-wrap .form-check-input:checked {
    box-shadow: none;
    outline: none;
    background-color: transparent;
}

.form-check-input:checked[type=radio] {
    background-image: url(../images/checkbox-check.svg);
    background-size: 28px 32px;
}

.nda-checkbox-wrap label {
    margin: 0 15px 0 0;
}

.form-submit-btn {
    margin-top: 68px;
}

.form-submit-btn input[type="submit"] {
    font-family: var(--termina-font);
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--light-black);
    padding: 20px 38px 15px 39px;
    border-radius: 15px;
    background-color: var(--light-blue);
    border: none;
    transition: all ease-in-out .3s;
    -moz-transition: all ease-in-out .3s;
    -webkit-transition: all ease-in-out .3s;
    -o-transition: all ease-in-out .3s;
}

.form-submit-btn input[type="submit"]:hover {
    background-color: var(--dark-navy);
    color: var(--off-white);
}

.recaptcha-wrap {
    margin-top: 21px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}